body {
    background-image:url("rhino.jpg");
    background-repeat:no-repeat;
    margin:0px 0px;
    padding:0px;
}

#logo {
    font-size:6em;
    color:red;
    text-align:center;
    text-shadow:0 1px 0 #ccc, 
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

#content {
    text-align:center;
}

#bottom-right {
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align:right;
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}


/* ....................................................................... */
/* SVG elements */

div#network svg {
    background-color: white;
    cursor: move;
}

line.link {
    stroke: #B2D9D8;
}

circle {
    cursor: crosshair;
    fill: #EBC763;
}

circle.level1 {
    stroke: #f00;
}

circle.level2 {
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
    stroke: #777;
}

circle.level3 {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

circle.sibling {
    /*fill: blue;*/
    fill: #455EE8;
}

circle.main {
    /*fill: red;*/
    fill: #732A9A;
    fill-opacity: 1.0;
}

/* ....................................................................... */
/* Graph labels */

g.gLabel {
    font: 10px sans-serif;
    font-weight: normal;
    /*visibility: hidden;*/
}

g.on {
    visibility: visible;    
}

g.zoomed {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: #000;
    border: none;
    z-index: 0;
}

text {
    font: 10px sans-serif;
    font-weight: normal;
    stroke-opacity: 1.0;
}

text.nlabel {
    /*stroke: #000000;*/
}

text.nshadow {
    stroke: #fff;
    stroke-width: 3px;
    /*stroke-opacity: 0.5;*/
    /*visibility: hidden;*/
}

text.main {
    font: 12px sans-serif;
    font-weight: bold;
}

